.env
composer.lock
env.php

node_modules/
vendor/
writable/
.idea/
.vscode/
tests/
doc/

app/Config/app.php
app/Config/database.php

writable/cache/
writable/debugbar/
writable/logs/
writable/session/
writable/uploads/



app/Cache/
app/Session/
/.DS_Store
